*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.container{
    background-color: #111;
    overflow: hidden;
}

.salute{
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.salutetextcontainer{
    flex: 3;
}

.saluteimgcontainer{
    flex: 1;
}

.salutetext{
    color: #333;
    font-size: 52vw;
    cursor: default;
}

.saluteimage{
    width: 85%;
}

.namecontainer{
    height: 100vh;
    background-color: rebeccapurple;
}

.name{
    font-size: 14vw;
    color: #333;
    text-align: center;
    cursor: default;
    line-height: 100vh;
}

.jobtitlecontainer{
    height: 100vh;
}

.black{
    background: url(./img/bg1.png);
}

.purple{
    background: rebeccapurple url(./img/bg2.png);
}

.jobtitle{
    font-size: 10vw;
    color: #333;
    cursor: default;
    line-height: 100vh;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 30vh;
    padding: 0px 100px;
}

.projectstitle{
    font-size: 20vh;
    color: #333;
    text-align:center;
}

.project{
    display: flex;
    align-items: center;
    gap: 90px;
    height: 100vh;
    overflow: hidden;

}

.project.project:nth-child(2n){
    flex-direction: row-reverse;
}
.phone{
    flex: 1;
    height: 600px;
    width: 300px;
    position: relative;
}

.phonescreen{
    width: 264px;
    height: 567px;
    position: absolute;
    top: 17px;
    left: 18px;
    border-radius: 28px;
    overflow: scroll;
}

.phonescreen::-webkit-scrollbar{
    display: none;
}

.phoneapp{
    width: 100%;
}

.projectdetails{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.projecttitle{
    font-size: 7vw;
    color: #555;
}

.projectdescription{
    font-size: 20px;
    color: #555;
    text-align: justify;
    line-height: 40px;
}

.projectbutton{
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.projectbutton::after{
    content: "View Demo";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #555;
    color: #222;
    transition: 1s all;
    display: flex;
    align-items: center;
    justify-content: center;

}
.projectbutton:hover.projectbutton::after{
    transform: translateX(100%);
}
 

.laptop{
    width: 600px;
    height: 379px;
    flex: 1;
    position: relative;
}
.laptopscreen{
    height: 283px;
    width: 451px;
    position: absolute;
    top: 18px;
    left: 68px;
    overflow: scroll;
}
.laptopscreen::-webkit-scrollbar{
    display: none;
}
.laptopapp{
    width: 100%;
}


.githubContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.githubTitle{
    font-size:  100px;
    color: #333;
}
.githubChart{
    width: 820px;
    text-align: center;
}
.dates{
    padding: 10px;
  color: #555;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .box {
    width: 15px;
    height: 15px;
    background-color: #171c25;
    border-radius: 2px;
    cursor: pointer;
    transition: 2.5s all ease;
  }
  
  .active:nth-child(4n) {
    background-color: #195b2c;
  }
  .githubChart:hover .active:nth-child(2n+1){
    background-color: #195b2c;
  }
  .githubChart:hover .active:nth-child(2n){
    background-color: #063f24;
  }
  
  .githubSm{
    display: none;
  }

  /* MEDIA QUARIES */
  
  @media screen and (max-width:1024px) {
  
    .projects{
      padding: 0 30px;
      text-align: center;
    }
  
    .project{
      flex-direction: column;
      height: max-content;
    }
    .project:nth-child(2n){
      flex-direction: column;
    }
  
    .phone,.laptop{
      transform: none !important;
    }
    
    .githubChart{
      display: none;
    }
  
    .githubTitle{
      text-align: center;
      font-size: 10vw;
    }
  
    .githubSm{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      color:#555;
      font-size: 30px;
      text-align: center;
    }
  }



